<!-- Botón de despliegue fuera del Sidebar -->
<button class="toggle-btn" (click)="toggle()">
    &gt; <!-- Ícono de flecha -->
</button>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light border border-success" 
             [ngClass]="{'hidden': !isVisible}">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
                <br><br><br><br>
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Angular</span>
                </a>

                <!-- Mostrar solo la actividad seleccionada -->
                <div *ngIf="selectedActivity" class="accordion w-100 mt-3" id="activityAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingActivity">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" 
                                data-bs-target="#collapseActivity" aria-expanded="true" 
                                aria-controls="collapseActivity">
                                {{ selectedActivity.name }}
                            </button>
                        </h2>
                        <div id="collapseActivity" class="accordion-collapse collapse show" 
                            aria-labelledby="headingActivity" data-bs-parent="#activityAccordion">
                            <div class="accordion-body">
                                {{ selectedActivity.description }}
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <hr>
            </div>
        </div>
    </div>
</div>
