<div>
    <h1>Cómo me siento acerca de Angular</h1>
    <article>
        <p>Angular es mi framework favorito, y esta es la razón. Angular tiene la increíble función de vistas diferidas que hace que cargar contenido de manera diferida sea muy fácil y ergonómico. La comunidad de Angular está llena de colaboradores y expertos que crean contenido excelente. Es una comunidad amigable y acogedora, realmente la mejor.</p>
        <p>No puedo expresar lo mucho que disfruto trabajar con Angular. Ofrece la mejor experiencia de desarrollo que he tenido. Me encanta que el equipo de Angular pone a los desarrolladores primero y se preocupa por hacernos muy felices. Realmente quieren que Angular sea el mejor framework posible, y lo están logrando de manera impresionante.</p>
        <p>Angular es mi framework favorito, y esta es la razón. Angular tiene la increíble función de vistas diferidas que hace que cargar contenido de manera diferida sea muy fácil y ergonómico. La comunidad de Angular está llena de colaboradores y expertos que crean contenido excelente. Es una comunidad amigable y acogedora, realmente la mejor.</p>
        <p>No puedo expresar lo mucho que disfruto trabajar con Angular. Ofrece la mejor experiencia de desarrollo que he tenido. Me encanta que el equipo de Angular pone a los desarrolladores primero y se preocupa por hacernos muy felices. Realmente quieren que Angular sea el mejor framework posible, y lo están logrando de manera impresionante.</p>
    </article>
    @defer (on viewport) {
        <app-practice10-assistant />
    } @placeholder {
        <p>Comentarios futuros</p>
    } @loading (minimum 2s) {
        <p>Cargando comentarios...</p>
    }
</div>
