.breadcrumb-container {
  background-color: #a2d2ff;
  width: 100%; /* Resta el ancho del sidebar */
  height: 40px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 48px;
  transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
}

/* ✅ Cuando el sidebar está oculto, ocupa toda la pantalla */
.sidebar-hidden .breadcrumb-container {
  width: 120%;
  margin-left: 0;
}
